body {
  font-family: "Roboto Mono", monospace;
  background-color: #D0E1ED;
}

.weather-app {
  background: white;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
   padding: 30px;
}

.search-input {
  padding: 12px 60px;
  border-radius: 6px;
  border: 1px solid #D0E1ED;
  font-size: 17px;
  background-color: #D0E1ED;
  width: 70%;
}

.submit {
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid #4e6ba6;
  background: #4e6ba6;
  color: white;
  font-size: 17px;
}

.time,
.current-details,
.current-temperature,
.current-city {
text-align: center;
}

.current-city {
  font-size: 60px;
  line-height: 10px;
}

.time,
.footer {
  color: grey;
}

.temperature-icon {
  display: flex;
  justify-content: center;
}

.current-temperature {
  line-height: 5px;
  font-size: 20px;
}

.current-weather {
  position: relative;
  display: flex;
  justify-content: center;
}

.current-details {
  font-size: 12px;
}

.wind,
.humidity {
  color: #4e6ba6;
  font-size: 15px;
  font-weight: 800px;
}


.my-account,
.github,
.netlify,
.current-temperature,
.temperature{
  color: #4e6ba6;
}

.footer {
  font-size: 10px;
}