body {
  font-family: "Roboto Mono", monospace;
  background-color: #D0E1ED;
}

.weather-app {
  background: white;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
   padding: 30px;
}

.search {
  padding: 12px 60px;
  border-radius: 6px;
  border: 1px solid #D0E1ED;
  font-size: 17px;
  background-color: #D0E1ED;
  width: 70%;
}
.submit {
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid #4e6ba6;
  background: #4e6ba6;
  color: white;
  font-size: 17px;
}

.current-city {
  font-size: 60px;
  text-align: center;
  line-height: 10px;
}

.current-date {
  text-align: center;
  color: grey;
}

.temperature-icon {
  text-align: center;
  font-size: 100px;
  line-height: 1px;
}

.current-temperature {
  text-align: center;
  line-height: 5px;
  font-size: 20px;
  color: grey;
}

.current-details {
  text-align: center;
  font-size: 12px;
}

.wind,
.humidity {
  color: #4e6ba6;
  font-size: 14px;
}

.forecast {
  list-style: none;
  padding: 0;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six {
  color: grey;
  border: 1px solid #4e6ba6;
  width: 15%;
  border-radius: 5px;
  text-align: center;
}

.temperature{
  color: #4e6ba6;
}