body {
  font-family: "Roboto Mono", monospace;
  background-color: #D0E1ED;
}

.weather-app {
  background: white;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
   padding: 30px;
}

.search {
  padding: 12px 60px;
  border-radius: 6px;
  border: 1px solid #D0E1ED;
  font-size: 17px;
  background-color: #D0E1ED;
  width: 70%;
}
.submit {
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid #4e6ba6;
  background: #4e6ba6;
  color: white;
  font-size: 17px;
}

.current-date,
.current-details,
.current-temperature,
.temperature-icon,
.current-city {
text-align: center;
}
.current-city {
  font-size: 60px;
  line-height: 10px;
}

.current-date {
  color: grey;
}

.temperature-icon {
  font-size: 100px;
  line-height: 1px;
}

.current-temperature {
  line-height: 5px;
  font-size: 20px;
}

.current-details {
  font-size: 12px;
}

.wind,
.humidity {
  color: #4e6ba6;
  font-size: 14px;
}

.forecast {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.day-one,
.day-two,
.day-three,
.day-four,
.day-five,
.day-six {
  color: grey;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
  width: 15%;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.my-account,
.github,
.netlify,
.current-temperature,
.temperature{
  color: #4e6ba6;
}

.footer {
  font-size: 10px;
}